PORT=4000
NODE_ENV=development

DATABASE_URL=mysql://appuser:apppass123@localhost:3307/shortlink
REDIS_URL=redis://localhost:6379

JWT_SECRET=change_this_to_something_long_and_random
FRONTEND_URL=http://localhost:5173
APP_URL=http://localhost:4000
